sudo: required
dist: trusty
language: java
jdk:
    - oraclejdk8
    - openjdk9
    - oraclejdk11
env:
    - RUNTIME=ol RUNTIME_VERSION=20.0.0.11-beta
    - RUNTIME=wlp RUNTIME_VERSION=19.0.0.3
    - RUNTIME=wlp RUNTIME_VERSION=18.0.0.4
matrix:
    exclude:
    - jdk: oraclejdk11
      env: RUNTIME=wlp RUNTIME_VERSION=18.0.0.4
script:
- travis_wait mvn verify -Druntime=$RUNTIME -DruntimeVersion=$RUNTIME_VERSION
